<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <!-- src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png" -->
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://inwfile.com/s-dt/cg3dwq.png"
          transition="scale-transition"
          width="40"
        />

        <!-- <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        /> -->
         <h1 class="headline font-weight-bold">
        Blockchain Lottery 
      <!-- <v-icon color="black">mdi-chevron-right</v-icon> -->
      <!-- {{ file }} -->
    </h1>
      </div>

      <v-spacer></v-spacer>

      <!-- <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn> -->
    </v-app-bar>

    <v-content>
      <!-- <HelloWorld/> -->
      <lotto/>
    </v-content>
  </v-app>
</template>

<script>
//import HelloWorld from './components/HelloWorld';
import lotto from './components/lotto';

export default {
  name: 'App',

  components: {
    //HelloWorld,
    lotto,
  },

  data: () => ({
    //
  }),
};
</script>
