<template>
<v-container>
  <div>
    <h1 class="headline font-weight-bold">
      Lottery
      <!-- <v-icon color="black">mdi-chevron-right</v-icon> -->
      <!-- {{ file }} -->
    </h1>

    <v-row
      v-if="apiError"
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
        class="text-center"
      >
        <!-- <img src="@/assets/images/500.png" /> -->
        <h1>API Error.</h1>
        <p>{{ snackbar.text || 'Please check console log.' }}</p>
      </v-col>
    </v-row>
    
    <v-form
      v-else
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-row class="mt-4 mb-2 px-3">
        <v-btn
          color="light-blue darken-4 white--text"
          depressed
          @click="addField()"
        >
          <v-icon>mdi-plus</v-icon> New Field
        </v-btn>
         <v-list>
                <!-- <v-list-item
                    v-for="(item, index) in accounts"
                    :key="index"
                    
                >
                    <v-list-item-title>{{ item }}</v-list-item-title>
                </v-list-item> -->
            </v-list>

        <div class="mx-1"></div>

        <v-btn
          :color="showOptions ? 'light-blue darken-4 white--text' : 'grey lighten-2'"
          depressed
          @click="showOptions = !showOptions"
        >
          Options <v-icon class="ml-1">{{ showOptions ? 'mdi-eye' : 'mdi-eye-off' }}</v-icon>
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
          color="orange"
          dark
          text
          depressed
          @click="getDetails"
        >
          <v-icon>mdi-restore</v-icon> Reset
        </v-btn>

        <div class="mx-1"></div>

 <!-- :color="isDirty ? 'success' : 'gray'" -->
 <!-- :disabled="!isDirty" -->
        <v-btn
          @click="save"
          
          depressed
        >
          Save
        </v-btn>
      </v-row>

      <v-row>
        <!-- OPTIONS -->
        <v-col 
          v-show="showOptions"
          cols="4"
        >
          <v-card
            class="mx-auto"
            width="100%"
            outlined
          >
            <v-card-text>
              <!-- <v-text-field
                v-model="details.function_ids"
                outlined
                type="number"
                label="Function ID"
                counter="8"
                :rules="[
                  v => !!v || 'Field is required',
                  v => v.toString().length < 9 || 'Field must be less than 8 characters.',
                  v => /^[0-9]+$/.test(v) || 'Field must only contains numbers.'
                ]"
              ></v-text-field> -->
              
              <!-- <v-select
                v-model="parentName"
                outlined
                label="Parent Inventory Name"
                persistent-hint
                :items="parentList"
                @focus="alertChangeParent"
                @input="resetFieldsParent"
              ></v-select> -->

              <!-- <v-select
                v-model="details.define_navigation_mapper"
                outlined
                label="Define Navigation Mappers"
                persistent-hint
                :items="mappersList"
              ></v-select> -->

              <!-- <v-select
                v-model="details.update_navigation_mapper"
                outlined
                label="Update Navigation Mappers"
                persistent-hint
                :items="mappersList"
              ></v-select> -->

              <!-- <v-switch
                v-model="details.reversible"
                inset
                input-value="true"
                color="green"
                label="Reversible"
                class="mt-0"
              ></v-switch>               -->
            </v-card-text>
          </v-card>
        </v-col>

        <!-- TABLE -->
         <v-col :cols="showOptions ? '8' : '12'">          
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th
                    v-for="(column, index) in columns"
                    :key="index"
                    :class="index < 1 ? 'text-left' : 'text-center'"
                  >
                    {{ column }}
                  </th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th
                    v-for="(column, index) in columns"
                    :key="index"
                    :class="index < 1 ? 'text-left' : 'text-center'"
                  >
                    {{ column }}
                  </th>
                </tr>
              </tfoot>
              <!-- <draggable
                tag="tbody"
                v-model="details.fields"
                v-bind="dragOptions"
                handle=".handle"
                :scroll-sensitivity="200"
                :force-fallback="true"
              > -->
                <tr
                  v-for="(field, index) in details.fields"
                  :key="field.id"
                >
                <!-- TYPE -->
                  <td>
                    <v-menu offset-y>
                      <template v-slot:activator="{ on }">
                        <v-btn
                          color="primary"
                          dark
                          text
                          width="100%"
                          v-on="on"
                        >
                          {{ field.account }}
                        </v-btn>
                      </template>
                      <v-list>
                        <v-list-item
                          v-for="(account, index) in accounts"
                          :key="index"
                          @click="field.account = account"
                        >
                          <v-list-item-title>{{ account }}</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </td>
                  <!-- Lottery Number -->
                  <td class="force-transparent">
                    <v-text-field
                      v-model="field.lottery_number"
                      solo
                      flat
                      dense
                      hide-details
                    ></v-text-field>
                  </td>
                  
                  <!-- Price -->
                  <td class="force-transparent force-text-center">
                    <v-text-field
                      v-model="field.price"
                      solo
                      flat
                      dense
                      hide-details
                      :rules="[v => (!v || /^[0-9]+$/.test(v)) || 'Field must be empty or a number.']"
                    ></v-text-field>
                  </td>
                  <!-- ACTIONS -->
                  <td class="text-right" style="white-space: nowrap;">
                    <div>
                        <!-- <v-btn
                          color="primary"
                          text
                          class="handle"
                        >
                          <v-icon small>mdi-arrow-up-down</v-icon>
                        </v-btn>
                        <v-btn
                          color="primary"
                          text
                          @click="cloneField(field)"
                        >
                          <v-icon small>mdi-content-copy</v-icon>
                        </v-btn> -->
                        <v-btn
                            color="red"
                            text
                            @click="details.fields.splice(index, 1)"
                          >
                            <v-icon small>mdi-delete</v-icon>
                          </v-btn>
                      </div>
                  </td>
                </tr>
              <!-- </draggable> -->
            </template>
            </v-simple-table>
        </v-col>
      </v-row>

      <v-row class="my-2 px-3">
        <v-btn
          color="light-blue darken-4 white--text"
          depressed
          @click="addField()"
        >
          <v-icon>mdi-plus</v-icon> New Field
        </v-btn>

        <div class="mx-1"></div>
      </v-row>
    </v-form>

    <v-form
      ref="formLotto"
      v-model="valid"
      lazy-validation
      >
      <v-text-field
        
      >
      </v-text-field>

    </v-form>

    <!-- Modal for edit -->
    <v-dialog
      v-model="showSubstitution"
      width="80%"
      height="80%"
      persistent
    >
      <v-card>
        <v-card-title
          class="headline light-blue darken-4 white--text"
          primary-title
        >
          Edit substitution for {{ substitutionId != null ? details.fields.find(f => f.id == substitutionId).name : '' }}
        </v-card-title>

        <v-card-text class="ma-0 py-0 px-2">
          <v-container>
            <v-textarea
              v-model="substitution"
              label="Substitution"
              outlined
              filled
              auto-grow
              height="100%"
              class="px-0 mx-0"
            ></v-textarea>
          </v-container>          
        </v-card-text>
        <v-card-actions class="pb-6 px-6">
          <v-btn
            color="red"
            text
            @click="showSubstitution = false"
          >
            <v-icon>mdi-close</v-icon> Cancel
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            text
            @click="updateSubstitution()"
          >
            <v-icon>mdi-pencil</v-icon> Save & Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Snackbar -->
    <v-snackbar
      v-model="snackbar.show"
      right
    >
      {{ snackbar.text }}
      <v-btn
        :color="snackbar.buttonColor"
        text
        @click="snackbar.show = false"
      >
        Close
      </v-btn>
    </v-snackbar>

    <!-- Overlay during loading (any) -->
    <!-- <v-overlay :value="showLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay> -->
  </div>
</v-container>
</template>

<script>
// import draggable from 'vuedraggable'

export default {
  name: 'InventoryEdit',
  components: {
    //draggable,
  },
  mounted() { 
    this.getAccounts()
    this.getDetails()
    
  },
  data() {
    return {
      // For form validation
      valid: true,
      scope: [],
      accounts: [],
      lotties: {
          fields:[]
      },
      // For the fields
      details: {
        // function_ids: 0,
        // define_navigation_mapper: '',
        // update_navigation_mapper: '',
        // reversible: false,
        fields: [],
        // parentName: ''
      },
      detailsParent: {
        fields: [],
        parentName: ''
      },
      // Define the default fields that must be present in each fields
      defaultFields: [
        'id',
        'lottery_number',        
        'price',
        'account',
      ],
      // Used to check changes
      original: {
        fields: [],
        parentName: ''
      },
      // Table header and footer
      columns: ['Account', 'Lottery Number', 'Price'],
      // Show options
      showOptions: false,
      // For the different loading
      loadingDetails: true,
      loadingParentDetails: true,
      loadingScope: true,
      saving: false,
      // In case we have issue from file we prevent any actions prior to investigate
      apiError: false,
      // Index of the field editing the substitution
      substitution: null,
      substitutionId: null,
      showSubstitution: false,
      // For snackbar
      snackbar: {
        show: false,
        text: '',
        buttonColor: 'red'
      }
    }
  },
  computed: {
    // file() {
    //   return this.$route.params.name
    // },
    api() {
      return this.$store.getters.api
    },
    // accounts() {
    //   return this.$store.getters.accounts
    // },
    // oracleVersion() {
    //   return this.$store.getters.oracleVersion
    // },
    // oracleModule() {
    //   return this.$store.getters.oracleModule
    // },
    // navigation () {
    //   return this.$store.getters.navigation
    // },
    // // This is just cosmetic, we need to compute this because in UI we don't show the .xml in the list but API requests the .xml
    // parentName: {
    //   get: function () {
    //     return this.details.parentName.replace('.xml', '')
    //   },
    //   set: function (value) {
    //     this.details.parentName = value ? `${value}.xml` : value
    //   }
    // },
    // parentList() {
    //   let file = this.file
    //   let list = [{text: 'No Parent', value: ''}]
    //   this.$store.getters.inventory.list.forEach(function(item) {
    //     // We need to remove the .xml
    //     if(item.name !== file) return list.push({text: item.name.replace('.xml', ''), value: item.name.replace('.xml', '')})
    //   })
    //   return list
    // },
    // // parentFields() {
    // //   let fields = this.detailsParent.fields // Is this needed?
    // //   // Add fake field at the beginning - Unexpected side effect?
    // //   this.detailsParent.fields.unshift({ "name": null, "field_id": null })
    // //   return this.detailsParent.fields
    // // },
    // mappersList() {
    //   let file = this.file
    //   let list = [{text: '', value: null}]
    //   this.navigation.list.forEach(function(item) {
    //     // We need to remove the .xml
    //     if(item.name !== file) return list.push({text: item.name.replace('.xml', ''), value: item.name.replace('.xml', '')})
    //   })
    //   return list
    // },
    // lockedFields() {
    //   return this.getLockedFields(this.details.children)
    // },
    // // VueJS does not seems to support isDirty natively, so let's create an easy one
    // isDirty: {
    //   cache: false,
    //   get() {
    //     return JSON.stringify(this.original) === JSON.stringify(this.details) ? false : true
    //   }
    // },
    // showLoading() {
    //   return (this.loadingDetails || this.loadingParentDetails || this.loadingScope || this.saving) ? true : false
    // },
    // dragOptions() {
    //   return {
    //     ghostClass: "ghost"
    //   }
    // },
  },
  methods: {
    //   selectAccounts(value) {
    //         this.accounts = value;
    //     },
    getLockedFields(children) {
      let fields = []
      // We assume that the first object passed is already a children
      if (Array.isArray(children)) {
        children.forEach(function(inventory) {
          fields.push(inventory.fields.map(field => field.parent_field_id))
          // Recursion - not even sure this is needed if all files are created correctly
          if (inventory.children) fields.push(this.getLockedFields(inventory.children))
        }, this)
      }
      // TODO Remove duplicate values
      // fields.filter((item, index) => fields.indexOf(item) !== index)
      return fields.flat(Infinity)
    },
    getDetails() {

    //   if (this.file) {
    //     this.loadingDetails = true
    //     this.$http({
    //       url: `${this.api.base}${this.api.inventoryDetails}?version=${this.oracleVersion.selected}&module=${this.oracleModule.selected}&name=${this.file}`,
    //       method: 'get'
    //     })
    //     .then((details) => {
    //       this.details = details.data
    //       this.details.fields.forEach(item => {
    //         // Addd ID for drag/drop
    //         // item.id = index;
    //         // Add all the required params if missing
    //         this.defaultFields.forEach(e => {
    //           if (item[e] === undefined) item[e] = null}
    //         )
    //       })
    //       // Just in case we update the ID... sometime it is not in the details
    //       this.updateFieldIds()
    //       // Adding a clone in the original bag
    //       this.original = JSON.parse(JSON.stringify(this.details))
    //     })
    //     .catch((error) => {
    //       this.apiError = true
    //       this.snackbar = { show: true, text: 'Error when getting details.', buttonColor: 'red' }
    //       // TODO Write in a log file
    //       // eslint-disable-next-line
    //       console.error(this.snackbar.text, error.message)
    //     })
    //     .finally(() => {
    //       this.loadingDetails = false
    //       this.getScope()
    //       this.getParentDetails()
    //       this.$refs.form.validate()
    //     })
    //   }
    },
    getScope() {
      this.loadingScope = true
      this.$http({
        url: `${this.api.base}${this.api.inventoryScope}`,
        method: 'get',
      })
      .then((scope) => {
        this.scope = scope.data.scope
      })
      .catch((error) => {
        this.apiError = true
        this.snackbar = { show: true, text: 'Error when getting scope.', buttonColor: 'red' }
        // TODO Write in a log file
        // eslint-disable-next-line
        console.error(this.snackbar.text, error.message)
      })
      .finally(() => {
        this.loadingScope = false
      })
    },
    canDelete(field) {
      // TODO Check in the list of field_id from children
      if (this.lockedFields.includes(field.field_id)) return false
      else return true
    },
    // TODO Note the best way, may need to review that later
    alertChangeParent() {
      alert(`Changing the Parent Inventory Name will reset all fields parent's information. You have been warned!`)
    },
    addField() {
      let add = {}
      this.defaultFields.forEach(f => add[f] = "")
      // Update the name
      add.account = 'select account'
      /// Update the ID
      //add.id = this.details.fields.length > 0 ? this.details.fields[this.details.fields.length - 1].id + 1 : 0
      add.id = this.details.fields.length > 0 ? this.details.fields[this.details.fields.length - 1].id + 1 : 0
      this.details.fields.push(add)
      console.log(this.details.fields)
    },
    updateField(value) {
      if (value) {
        let index = this.details.fields.findIndex((field) => {
          // This is why we need to create an internal temp_id for each field
          return field.temp_id === this.edit.temp_id
        })
        this.details.fields[index] = value
      }
      this.edit = null
    },
    cloneField(field) {
      let clone = { ...field }
      // Increase the ID
      clone.id = this.details.fields[this.details.fields.length - 1].id + 1
      // Remove the field ID as it is new
      clone.field_id = null
      // Push in details
      this.details.fields.push(clone)
      // Revalidate the form
      // this.$refs.form.validate()
    },
    updateFieldParent(field, name, id) {
      field.parentName = name
      field.parent_field_id = id
    },
    resetFieldsParent() {
      this.details.fields.forEach(function(field) {
        field.parentName = ""
        field.parent_field_id = ""
      })
      // Reload the parent details
      this.getParentDetails()
    },
    updateFieldIds() {
      this.details.fields.forEach((field, index) => field.id = index)
    },
    generateTempId() {
      return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
    },
    editSubstitution(field) {
      this.showSubstitution = true
      this.substitution = field.substitution
      this.substitutionId = field.id
    },
    updateSubstitution() {
      // Using this trick to force Vue to rerender the DOM as substitution is not key binded
      //this.$forceUpdate()
      //this.$refs.form.validate()
      let field = this.details.fields.find(f => f.id == this.substitutionId)
      if (field) {
        this.details.fields[field.id].substitution = this.substitution
        this.showSubstitution = false
      }
    },
    save() {
     // if (this.$refs.form.validate()) {
        this.saving = true
        // Re-order before to save
        this.updateFieldIds()
        // Save
        this.$http({
          url: `${this.api.base}${this.api.save}`,
          method: 'post',
          data: {
            // version: this.oracleVersion.selected,
            // module: this.oracleModule.selected,
             lotties: this.details
          }
        })
        .then(() => {
          this.snackbar = { show: true, text: 'File has been saved successfully.', buttonColor: 'green' }
          // Update the original bag to remove the SAVE button, just reloading the data
          this.getDetails()
        })
        .catch((error) => {
          this.snackbar = { show: true, text: 'Error when saving file.', buttonColor: 'red' }
          // TODO Write in a log file
          // eslint-disable-next-line
          console.log(this.snackbar.text, error.message)
        })
        .finally(() => {
          this.saving = false
        })
     // }
    },
    getAccounts() {
        this.$http({
          url: `${this.api.base}${this.api.accounts}`,
          method: 'get',
          data: {
            // version: this.oracleVersion.selected,
            // module: this.oracleModule.selected,
            // details: this.details
          }
        })
        .then((response) => {
          //this.snackbar = { show: true, text: 'File has been saved successfully.', buttonColor: 'green' }
          // Update the original bag to remove the SAVE button, just reloading the data
          this.accounts = response.data
        })
        .catch((error) => {
          this.snackbar = { show: true, text: 'Error when saving file.', buttonColor: 'red' }
          // TODO Write in a log file
          // eslint-disable-next-line
          console.log(this.snackbar.text, error.message)
        })
        .finally(() => {
          this.saving = false
        })
     // }
    }
  }
}
</script>

<style>
.force-text-center input {
  text-align: center !important
}
.force-transparent .v-input__slot {
  background: transparent !important
}
.error--text input {
  color: red !important
}
.v-data-table__wrapper {
  border: 1px solid rgba(0, 0, 0, 0.12)
}
tfoot {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54) !important;
}
.ghost {
  opacity: 0.3;
  background-color: orange !important;
}
</style>