<template>
  <v-row
      align="center"
      justify="center"
    >
      <v-col
        md="12"
        class="text-center"
      >
      <!-- <img src="@/assets/images/404.png" /> -->
      <h1>Oops... Page not found.</h1>
      <p>But don't you worry, we are working on it.</p>
    </v-col>
  </v-row>
</template>

<script>
export default 
{
  name: 'PageNotFound',
}
</script>